@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');



.btn-upload{
  
  margin: 50px 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  label{
    font-size: 22px;
    font-weight: bold;
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
    
    
  }

}
.btn-upload-submit{
   width: 100%;
  padding: 8px 20px;
  
  background-color: rgb(8, 8, 238);
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid black;
  span{
    margin-left: 15px;
  }

}

.btn-upload-submit:disabled{
  background-color: #ADD8E6;
  color:black;
}

.card{
  margin-top: 50px;
  &-header{
    text-align: center;
  padding: 15px 0;
  font-size: 22px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'Oxygen', sans-serif;
  }
}
