
<div class="row" style="margin-left: 50px;">
  <div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
              <div class="card-icon icon-2">
                <mat-icon class="material-icons-outlined" >store</mat-icon>
              </div>
              <p class="card-category">Amount</p>
              <h3 class="card-title"><small>₹ </small>{{total}}
              </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <div>Spending money</div>
            </div>
        </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon icon-4">
                  <i class="material-icons">info_outline</i>
              </div>
              <p class="card-category">Cashback</p>
              <h3 class="card-title"><small>₹ </small>{{reward}}
              </h3>
             
          </div>
          <div class="card-footer">
            <div class="stats">
              <div>Credit card benefit</div>
            </div>
        </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon icon-3">
                <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">Paymeny due on</p>
            <h3 class="card-title">{{payment}}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <div>Last Statement Date</div>
          </div>
      </div>
    </div>
</div>

</div>