<!-- <div class="user-card-container">

  <div class="card">
    <div class="img">
      <img src="../../../assets/man-svgrepo-com.svg" />
    </div>
    <div class="infos">
  
      <p class="name"><span>User name:</span>  Jim Smith</p>
      <p class="text"><span>Home address:</span> 123 Cherry Lane st.
        956004 Marietta.
        Atlanta / GA</p>

      <p class="text"><span>Customer number:</span> 12302139</p>
      <p class="text"><span>Card Number:</span> 1123213403</p>
      

     
    </div>
  </div>

</div>

<div >
  
</div> -->

<div card-container>
  <div class="content">
    <div class="card">
      <div class="firstinfo">
        <img src="https://i.pinimg.com/originals/b9/8f/2e/b98f2e152160ecb57759b6169913a263.jpg" alt="img">
        <div class="profileinfo">
          <h1> {{this.object.customerName}} </h1>

          <p class="text"><span>Card Number:</span> {{this.object.customerAccNumber}}</p>
        </div>
      </div>
    </div>

  </div>

</div>
