.chart-main{
  display: block;
  width: 500px; 
   height: 500px;
}

.chart-border{
  margin-left: 240px;
  padding:40px 20px 50px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-family: 'Roboto', sans-serif;
  }
}