
<!-- <div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon icon-1">
                  <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">Card Limit </p>
              <h3 class="card-title">1500
                  <small>$</small>
              </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
               
                <div>Avaliable money limit</div>
            </div>
        </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
              <div class="card-icon icon-2">
                <mat-icon class="material-icons-outlined" >store</mat-icon>
              </div>
              <p class="card-category">Amount</p>
              <h3 class="card-title">670.81
                <small>$</small>
              </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <div>Spending money</div>
            </div>
        </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon icon-4">
                  <i class="material-icons">info_outline</i>
              </div>
              <p class="card-category">Cashback</p>
              <h3 class="card-title">7.20
                <small>$</small>
              </h3>
             
          </div>
          <div class="card-footer">
            <div class="stats">
              <div>Credit card benefit</div>
            </div>
        </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon icon-3">
                <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">Paymeny due on</p>
            <h3 class="card-title">27 JUL 2020</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <div>Debt repayment period</div>
          </div>
      </div>
    </div>
</div>

</div> -->

<div class="cards-container">

<div class="card-item">
  <div class="card bg-c-green order-card">
    <div class="card-body">
      <h6 class="text-white">Spent money</h6>
      <h2 class="text-right text-white"><i class="material-icons float-left ">account_balance_wallet</i><span>₹ {{total}}</span></h2>
      <p class="m-b-0">Total money spent</p>
    </div>
  </div>
</div>


<div class=" card-item">
  <div class="card bg-c-yellow order-card">
    <div class="card-body">
      <h6 class="text-white">Cashback</h6>
      <h2 class="text-right text-white"><i class="material-icons float-left ">collections_bookmark</i><span>₹ {{reward}}</span></h2>
      <p class="m-b-0">Credit card benefit</p>
    </div>
  </div>
</div>


<div class="card-item">
  <div class="card bg-c-red order-card">
    <div class="card-body">
      <h6 class="text-white">Paymeny due on</h6>
      <h2 class="text-right text-white"><i class="material-icons float-left ">access_time</i><span class="date-time">{{payment}}</span></h2>
      <p class="m-b-0">Debt repayment period</p>
    </div>
  </div>
</div>

</div>